.accordion_pare_w {
    max-width: 900px;
}

.accordion-button {
    color: #3C278D !important;
    font-size: 20px !important;
    border-radius: 15px;
}

.accordion-button:focus {
    border-color: unset !important;
    box-shadow: none !important;
}

.accordion-item {
    border: 2px solid #3C278D !important;
    border-radius: 15px !important;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 15px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 15px !important;
}

.accordion-button:not(.collapsed) {
    color: #3C278D;
    font-size: 20px !important;
    background-color: unset !important;
    box-shadow: unset !important;
    border-bottom: 2px solid #3C278D;
}

/* Drop Down */

.dropdown_btn{
    background:#39aadb;
    padding: 8px 20px ;
    border-radius: 20px;
    border: 1px solid #0445eb;
}

.dropdown_content {
    display: none;
    list-style: none;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    list-style: none;
    box-shadow: 0px 0px 10px rgb(168, 167, 167);
    border-radius: 5px;
    margin-top: 0px;
}


.dropdown_btn_two {
    background: #39aadb;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #0445eb;
}

.dropdown_content_two {
    display: none;
    list-style: none;
}

.dropdown_two.open .dropdown_content_two {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    list-style: none;
    box-shadow: 0px 0px 10px rgb(168, 167, 167);
    border-radius: 5px;
    margin-top: 0px;
}
