@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}
.container{
  max-width: 1140px !important;
}